
.container{
  height: 100vh;
}
.content {
  display: flex;
  flex-direction: row;
  gap: 35px;
  justify-content: space-between;
    
}

.left-div {
  display: flex;
  flex-direction: column;
  gap:30px;
  width: 50%; 
}

.top-left, .bottom-left {
  box-shadow: 0 2px 24px var(--shadow-color);
  background-color: var(--body-color);
  border-radius: 25px;
  padding: 15px;
}

/* .top-left{
  height: 25%;
}

.bottom-left{
  height: 70%;
} */
.right-div {
  width: 48%;
  box-shadow: 0 2px 24px var(--shadow-color);
  background-color: var(--body-color);
  border-radius: 25px; /* Colore di esempio */
  padding: 15px;
  height: 76vh;
}
@media (max-width: 768px) {
  /* Su schermi piccoli, metti i div uno sotto l'altro */
  .content {
    flex-direction: column;
  }

  .left-div, .right-div{
    width: 100%;
  }
}


/* savings goal next transaction*/
.nextTransaction{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: var(--text-color);
  border-top: 1px solid var(--shadow-color);
}

.nextTransaction img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 2px 24px var(--shadow-color);
}