.goals {
    padding: 80px;
    border-radius: 10px;
    width: 100%;
    box-shadow: 0 2px 24px var(--shadow-color);
    background-color: var(--body-color);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.goals > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    align-items: flex-start;
}

.goals > div > div:first-child {
    flex: 1 1 300px;
    max-width: 500px;
    text-align: left;
    justify-content: start;
    position: relative;
}

.goals > div > div:last-child {
    flex: 1 1 500px;
    margin-left: 100px;
    max-width: 200px;
    display: flex;
    justify-content: end;
    align-items:end;
}

.coursesDoughnutChart {
    width: 100% !important;
    max-width: 200px;
    height: auto !important;
    margin-top: 0;
}

.goalAmount, .currentAmount {
    font-weight: bold;
}

.goalAmount {
    color: var(--warning-color);
}

.currentAmount {
    color: var(--success-color);
}

h1 {
    text-align: center;
    color: var(--first-color);
    font-weight: 600;
}

.btnSGD {
    position: absolute;
    top: 130px;  
    margin-right: 10px;
    color: white;
    padding: 8px 15px;
    border-radius: 15px;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    transition: var(--transition-speed);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: var(--first-color);
}

.btnSGD:hover {
    filter: brightness(85%);
}

.btnSGD + .btnSGD {
    left: 150px;
}

@media screen and (max-width: 1150px) {
    .btnSGD {
        top: 85px;
    }

    .goals > div {
        flex-direction: column;
        align-items: center;
    }
} 

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
}

table th {
    background-color: var(--first-color);
    color: white;
}