/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

:root {
    --hover-color:  hsl(193, 86%, 34%);
    --transition-speed: 0.3s ease-in-out;
    --success-color: #28a745;
    --warning-color: #dc3545;
}


.goals {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    text-align: center;
    box-shadow: 0 2px 24px var(--shadow-color);
    background-color: var(--body-color);
    display: flex;
    flex-direction: column;
    gap: 20px;
}



.goalAmount, .currentAmount {
    font-weight: bold;
}

.goalAmount {
    color: var(--warning-color);
}

.currentAmount {
    color: var(--success-color);
}

.coursesDoughnutChart {
    width: 100% !important;
    max-width: 300px;
    height: auto !important;
    margin-top: 20px;
}
.btnSGD {
    position: absolute;
    top: 130px;  
    color: white;
    padding: 8px 15px;
    border-radius: 15px;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    transition: var(--transition-speed);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 1150px) {
    .btnSGD{
        top:85px;
    }
}
h1{
    text-align: center;
    color: var(--first-color);
    font-weight: 600;
}

.button-container {
    margin: 0px !important;
}


.CancelGoal {
    background-color: #d9534f;
    color: white;
}

.saveGoal, .btnSGD {
    background-color: var(--first-color);
    color: white;
}

.CancelGoal:hover {
    background-color: #c9302c;
}

.saveGoal:hover, .btnSGD:hover {
    filter: brightness(85%);
}
