.btn {
    height: 30px;
    width: 30px;  
    font-size: 20px;
    border-radius: 50px;
    background-color: var(--first-color);
    color: white;
    text-align: center;
    cursor: pointer;
  }

.newGoalBtn{
    position: fixed;
    top: 150px;  
    right: 50px; 
    display: flex;
    align-items: center;
    gap: 5px;
}

.newGoal{
    position: relative;
    width: 50vw;
    height: 50vh;
    box-shadow: 0 2px 24px var(--shadow-color);
    background-color: var(--body-color) ;
    margin: auto;
    margin-top: 80px;
    border-radius: 25px;
    padding: 4vh;
}

.saveGoal{
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 8px 15px;
    background-color: var(--first-color);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

input{
    background-color: var(--body-color);
}
.singleGoal{
    position: relative;
    width: 30vw;
    height: 15vh;
    box-shadow: 0 2px 24px var(--shadow-color);
    background-color: var(--body-color) ;
    margin: auto;
    margin-top: 80px;
    border-radius: 25px;
    padding: 2vh;
}
.goalsList{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.goal-name {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
 }
#coursesDoughnutChart{

    width: 75px;
    margin: auto;
}

.goal-progress{
    position: absolute;
    bottom: 35px;
    right: 150px;
    padding: 8px 15px;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;

}

.moreDetailsBtn{
    position: absolute;
    bottom: 50px;
    right: 20px;

}