.btn {
    height: 30px;
    width: 30px;  
    font-size: 20px;
    border-radius: 50px;
    background-color: var(--first-color);
    color: white;
    text-align: center;
    cursor: pointer;
  }

.newGoalBtn{
    position: fixed;
    top: 150px;  
    right: 50px; 
    display: flex;
    align-items: center;
    gap: 5px;
}

.newGoal{
    position: relative;
    width: 50vw;
    height: 50vh;
    box-shadow: 0 2px 24px var(--shadow-color);
    background-color: var(--body-color) ;
    margin: auto;
    top: 80px;
    border-radius: 25px;
    padding: 4vh;   
}

.saveGoal{
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 8px 15px;
    background-color: var(--first-color);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

input{
    background-color: var(--body-color);
}

.singleGoal{
    position: absolute;
    width: 60vw;
    top: 20px; left: 20px;
    /*height: 15vh;*/
    box-shadow: 0 2px 24px var(--shadow-color);
    background-color: var(--body-color) ;
    margin: auto;
    margin-top: 30px;
    border-radius: 25px;
    padding: 2vh;
}

.goalsList{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}


.goal-name {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px;
 }

canvas{
    width: 50px;
    height: 50px;
    margin: auto;
}

.goal-progress{
    position: absolute;
    top: 0.05vh;
    right: 150px;
    padding: 8px 15px;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;

}

.goal-details{
    padding: 10px;
}
.moreDetailsBtn {
    position: absolute;
    top: 3vh;
    right: 20px;
    height: 20px;
}
/* .moreDetailsBtn{
    position: absolute;
    top: 3vh;
    right: 20px;
    height:3vh;
} */

